
substitutions:
  project_ver_let: "f"

packages:
  granzscientific.bm1-update: !include update.yaml

esphome:
  on_boot:
    then:
      - script.execute: factory_test

script:
  # factory test script
  - id: factory_test
    then:
      - if:
          condition:
            lambda: 'return id(first_boot);'
          then:
            # start AP immediately
            - lambda: 'wifi_wificomponent_id->set_ap_timeout(1);'

globals:
  # keep track of it if we'd booted once before (for factory test purposes)
  - id: first_boot
    type: bool
    restore_value: yes
    initial_value: 'true'
